.section {
    padding: 30px;
    margin-left: 300px;
    transition: opacity 0.3s ease;
}

.section.entering {
    opacity: 0;
}

.section.entered {
    opacity: 1;
}

.section.exiting {
    opacity: 0;
}

.section.exited {
    display: none;
}

.article-title {
    color: var(--orange-yellow-crayola);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}